<h1><%= "#{@doctor.title} #{@doctor.first_name} #{@doctor.last_name}" %></h1>
<h2><%= @doctor.specialty %></h2>
<p><%= @doctor.available %></p>
<p><%= "Experience of #{@doctor.experience} years" %></p>
<%= link_to "back to index", root_path %>
<%= link_to "edit", edit_doctor_path %>
<%= link_to "Delete", doctor_path,  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>

